/* App.css */

/* Basic styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  display: flex;
  flex: 1;
}

/* App.css */

/* ...existing styles... */

.header {
  background-color: #1f1f1f; /* Dark gray color for header */
  color: #fff; /* Text color for header */
  padding: 20px;
}

.footer {
  background-color: #1f1f1f; /* Dark gray color for footer */
  color: #fff; /* Text color for footer */
  padding: 20px;
  text-align: center;
}

/* Other existing styles... */

.header-nav ul {
  list-style: none;
  display: flex;
}

.header-nav ul li {
  margin-right: 20px;
}

/* .footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
} */

.sidebar-left {
  flex: 0 0 250px;
  background-color: #f0f0f0;
}

.main-content {
  flex: 1;
  padding: 20px;
}

.sidebar-right {
  flex: 0 0 250px;
  background-color: #f0f0f0;
}

/* Responsive styles */
@media only screen and (max-width: 768px) {
  .header-nav {
    display: none; /* Hide the navigation in mobile view */
  }

  .sidebar-left,
  .sidebar-right {
    flex: 1;
    width: 100%;
  }
}
